* {margin: 0; padding: 0;}

#container {
 width: 790px;
 overflow: hidden;
 margin: 10px auto;
 background:white;
}


/*photobanner*/
.photobanner {
 height: 233px;
 width: 3550px;
 margin-bottom: 5px;
}

/*keyframe animations*/
.first {
 -webkit-animation: bannermove 50s linear infinite;
    -moz-animation: bannermove 50s linear infinite;
     -ms-animation: bannermove 50s linear infinite;
      -o-animation: bannermove 50s linear infinite;
         animation: bannermove 50s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 5px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 5px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 5px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 5px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 5px;
 }
 100% {
   margin-left: -2125px;
 }
 
}


.photobanner img {
 -webkit-transition: all 0.8s ease;
 -moz-transition: all 0.8s ease;
 -o-transition: all 0.8s ease;
 -ms-transition: all 0.8s ease;
 transition: all 0.8s ease;
}
 
.photobanner img:hover {
 -webkit-transform: scale(1.5);
 -moz-transform: scale(1.5);
 -o-transform: scale(1.5);
 -ms-transform: scale(1.5);
 transform: scale(1.5);
 cursor: pointer;
 
 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
